<th:block>
        <footer class="footer-basic">
            <div class="social">
                <a><i class="fa-brands fa-facebook"></i></a>
                <a><i class="fa-brands fa-instagram"></i></a>
            </div>
            <ul class="list-inline">
                <li class="list-inline-item"><a th:href="@{/}">Начало</a></li>
                <li  sec:authorize="!isAuthenticated()" class="list-inline-item"><a th:href="@{/login}">Започни сега</a></li>
                <li  sec:authorize="isAuthenticated()" class="list-inline-item"><a th:href="@{/order}">Създай пица</a></li>
                <li class="list-inline-item">
                    <a th:href="@{/about}">За нас</a>
                </li>
            </ul>
            <p class="copyright">Pizza Shop © 2023</p>
        </footer>

</th:block>